#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  border: 2px solid black;
  padding: 50px;
  width: 30%;
  background-color: white;
  height: 90%;
}

#mainHeading {
  margin-bottom: 30px;
  font-size: 40px;
  text-align: center;
}

#list {
  list-style: none;
  padding: 0px;
}

#secondaryContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
}

#secondaryContainer ul {
  height: 60%;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

#secondaryContainer ul::-webkit-scrollbar {
  display: none;
}

#secondaryContainer ul {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.btnBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.secondaryHeading {
  margin: 25px 0 20px 0;
  font-weight: 50;
}
