/* View Template */

#todoContainer {
  margin-bottom: 10px;
  font: inherit;
}

#todoContent input[type="checkbox"] {
  margin-right: 6px;
}

.btnBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Btn {
  width: 49%;
  height: 35px;
  border-radius: 5px;
  font: inherit;
  margin-top: 5px;
  margin-bottom: 5px;
}

.white:focus {
  background-color: black;
  color: white;
}

.red {
  background-color: rgb(206, 25, 25);
  color: white;
}

.red:focus {
  background-color: palevioletred;
}

/* Edit template */

.heading2 {
  padding-bottom: 5px;
  font-weight: 100;
  font-size: 20px;
}

/* #todoContent input[type=checkbox] + label {
  display: block;
} */

/* #todoContent input[type=checkbox] {
  display: none;
} */

/* #todoContent input[type=checkbox] + label:before {
  content: "\2714";
  border: 2px solid #000;
  border-radius: 2px;
  display: inline-block;
  width: 13px;
  height: 14px;
  padding-left: 1px;
  padding-bottom: 6px;
  margin-right: 8px;
  vertical-align: bottom;
  color: transparent;
} */

/* #todoContent input[type=checkbox]:checked + label:before{
    background-color: mediumseagreen;
} */
